<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Account</title>

     <script type="text/javascript">
	    //日曆 ============================================
	    $( function() {
	      $( "#datepicker" ).datepicker({
	          dateFormat: 'yy-mm-dd',
	          minDate: new Date(2014, 6 - 1, 5),
	          maxDate: "0",
	          changeMonth: true,
	          changeYear: true,
	          showButtonPanel: true,
	      });
	    } );
    </script>
</head>

<body>
	<h3># New Account</h3>
	<form id="AccountForm" method="post">
		{% csrf_token %}
		日期: {{ account_form.date }}  <br>
		類別: {{ account_form.type }}  <br>
		子類別: {{ account_form.subtype }}<br>
		金錢: {{ account_form.price }} <br>
		備註: {{ account_form.notes }} <br>

		<input type="submit" name="send"  style="margin-left: 30px;" value="下一步" />

</body>