<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
    <script>
	  $(function() {
	    $( ".datepicker" ).datepicker({
	      changeMonth: true,
	      changeYear: true,
	      yearRange: "1900:2012",
	      // You can put more options here.

	    });
	  });
	</script>
</head>

<body>
	<h3># All Account</h3>
	<form id="DateForm" method="post">
		{% csrf_token %}
		從 {{ date_form.dateA }} 
		至 {{ date_form.dateB }} <br>
	<input type="submit" name="send"  style="margin-left: 30px;" value="統計" />
	<br>
	{% for pl in priceList %}
		{{ pl.0 }} {{ pl.1 }}
		<br>
	{% endfor %}
</body>