# Django
# https://www.djangoproject.com/
Django==1.11

# Django Packages
# https://djangopackages.org/
# Django Choice http://django-choices.readthedocs.io/en/latest/
django-choices==1.5.0

# Deploy WSGI server
# http://gunicorn.org/
gunicorn==19.7.1

# urllib3
# https://urllib3.readthedocs.io/en/latest/
urllib3==1.21.1

# Google API
# https://developers.google.com/api-client-library/python/
google-api-python-client==1.6.2
