# Django
# https://www.djangoproject.com/
Django==1.11

# Django Packages
# https://djangopackages.org/
# https://djangopackages.org/packages/p/django-crispy-forms/
django-crispy-forms==1.6.1

# Deploy WSGI server
# http://gunicorn.org/
gunicorn==19.7.1
