# Django
# https://www.djangoproject.com/
Django==1.11

# Django Packages
# https://djangopackages.org/

# Deploy WSGI server
# http://gunicorn.org/
gunicorn==19.7.1

# urllib3
# https://urllib3.readthedocs.io/en/latest/
urllib3==1.21.1
