{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hiki Diary</title>
    <!-- Bootstrap -->
    {% include 'include/bootstrap.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head> 
<body id="background" class="d-flex justify-content-center">
	<div id="wrap" class="flex-column">
		<header class="h2 mb-3">HIKI Diary</header>
		<form method="post" class="d-flex flex-column w-100 p-2">{% csrf_token %}
	        <label for='email'>Email：</label>
	        <input id="email" name="email" maxlength="255" type="email" required>
			<button type="submit" class="btn custom-button mt-3">Send Email</button>
		</form>
		<p class="text-center">稍後將寄驗證信到您的信箱</p>
	</div>
</body>  
