{% load static %}
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key={{MapAPI}}&libraries=places&language=zh-TW&callback=initAutocomplete" async defer></script>

<script>
function initAutocomplete() {
	
	// 初始值
	var latitude =  {{ latitude }};
	var longitude = {{ longitude }};
	var location = '{{ location }}';
	var default_zoon = {{ default_zoon }};

	//建立地圖
	var map = new google.maps.Map(document.getElementById('map'), {
	  center: {lat: latitude, lng: longitude}, //taiwan
	  zoom: default_zoon,
	  mapTypeId: 'roadmap'
	});

	//建立 input 框
	var input = document.getElementById('pac-input');
	var searchBox = new google.maps.places.SearchBox(input);
	map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
	map.addListener('bounds_changed', function() {
	  searchBox.setBounds(map.getBounds());
	});

	//標記
	var markers = [];
	var markMap = function() {
		console.log(searchBox)
		var places = searchBox.getPlaces(); //得到輸入位置
		if (places.length == 0) {
			return;
		}
		markers.forEach(function(marker) {
			marker.setMap(null);
		});
		markers = [];
		
		var bounds = new google.maps.LatLngBounds();
		places.forEach(function(place) {
		
		if (!place.geometry) {
			console.log("Returned place contains no geometry");
			return;
		}
	    
	    location = input.value;
	    latitude = place.geometry.location.lat();
	    longitude = place.geometry.location.lng();
	    document.getElementById("latitude").value = latitude;
    	document.getElementById("longitude").value = longitude;
    	document.getElementById("location").value = location;
	    
	    //圖示
	    var icon = {
			url:"{% static 'icon/mapflag.png' %}",
			size: new google.maps.Size(71, 71),
			origin: new google.maps.Point(0, 0),
			anchor: new google.maps.Point(17, 34),
			scaledSize: new google.maps.Size(40, 40)
	    };

	    markers.push(new google.maps.Marker({
	        map: map,
	        icon: icon,
	        title: place.name,
	        position: place.geometry.location
	        }));
	        if (place.geometry.viewport) {
	        	bounds.union(place.geometry.viewport);
	        } else {
	        	bounds.extend(place.geometry.location);
	        }
	    });
	  map.fitBounds(bounds);
	};
	searchBox.addListener('places_changed', markMap );
	document.getElementById("latitude").value = latitude;
    document.getElementById("longitude").value = longitude;
    document.getElementById("location").value = location;
}
</script>