<!-- 顯示頁面訊息 -->
{% if messages %}
<script>
//跳出訊息
$(function() {
    $('#messageModal').modal('show');
    setTimeout(function(){
    	$('#messageModal').modal('hide')
    }, 2000);
});
</script>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
            {% for message in messages %}
                <div class="message" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}