{% load static %}

	<style>

	#stuff {
		display: block;
	  	content: " ";
	  	height: 30px;
	  	visibility: hidden;
	}

	.navbar , .dropdown-menu {
		background-color: #53cecb !important;
		letter-spacing: 2px !important;
	}

	#navbar-collapse-1{
		padding-top: 3px !important;;
	}

	.navbar-brand , .navbar-nav > li > a , .dropdown-menu > li > a {
	    color:white !important;
	}

	.navbar-nav > li:hover , .dropdown-menu > li > a:hover {
		color:#0ABAB5 !important;
		background-color: rgba(255,255,255,.5) !important;
	}

	.active > a , .dropdown-item.active, .dropdown-item:active {
		color:#0ABAB5 !important;
		background-color: rgba(255,255,255,.5) !important;
	}

	</style>

	<!-- Nav -->
	<div id="stuff" class="mb-3"></div>
	<nav class="navbar navbar-toggleable-sm navbar-light fixed-top w-100">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation" >
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="{% url 'index' %}">HIKI</a>
	    <div id="navbar-collapse-1" class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li id="dashboard_" class="nav-item">
					<a class="nav-link" href="{% url 'user_dashboard' %}">控制台</a>
				</li>
				<li id="diary_" class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">日記</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="{% url 'diary' %}">日記本</a></li>
						<li><a class="dropdown-item" href="{% url 'map' %}">旅遊足跡</a></li>
						<li><a class="dropdown-item" href="tag">標籤</a></li>
					</ul>
				</li>
		      	<li id="gallery_" class="nav-item dropdown">
		      		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">相片</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="{% url 'gallery' %}">相本</a></li>
					</ul>
		      	</li>
		      	<li id="tally_" class="nav-item dropdown">
		      		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">帳務</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="{% url 'tally' %}">帳本</a></li>
						<li><a class="dropdown-item" href="{% url 'tally_summary' %}">帳目統計</a></li>
					</ul>
		      	</li>
		    </ul>
		    <ul class="navbar-nav ml-auto">
		      	<li class="nav-item dropdown">
		            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
		                <span class="glyphicon glyphicon-user">
		                </span> {{name}} <span class="caret"></span>
		            </a>
			        <ul class="dropdown-menu dropdown-menu-right pt-0 mt-0" aria-labelledby="navbarDropdownMenuLink">
			            <li><a class="dropdown-item" href="{% url 'logout' %}">登出</a></li>
			        </ul>
	    		</li>
	    	</ul>
	    </div>
	</nav>
	<!-- 確認標籤位置 -->
	<script>
		var title = "{{title}}";
		document.getElementById(title).classList.add("active");
	</script>
	{% include 'include/message.html' %}
