<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<style>
   #map {
    height: 250px;
    width: 60%;
   }
</style>
<script type="text/javascript">
    //禁止回上一頁
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });
</script>
<body>

      <h3>標題：{{diary.title}}</h3> <br>
      日期：{{diary.date}}<br>
      {% ifnotequal diary.tags.all|length 0 %}
        標籤：
        {% for t in diary.tags.all %}
            #{{t.tagName}}
        {% endfor %}<br>
      {% endifnotequal %}

      {% ifnotequal diary.location.location "null" %}
        天氣： 平均溫度：{{diary.weather_meantemp}}℃ <img src="https://icons.wxug.com/i/c/i/{{diary.weather_cond}}.gif" alt="Smiley face" height="42" width="42"><br>
        地點：<a target="_blank" href="http://maps.google.com/maps?q={{diary.location.latitude}},{{diary.location.longitude}}">{{diary.location.location}}</a><br>
          <div id="map"></div>
          <script>
            function initMap() {
              var uluru = {lat: {{diary.location.latitude}}, lng: {{diary.location.longitude}} };
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: uluru
              });
              var marker = new google.maps.Marker({
                position: uluru,
                map: map
              });
            }
          </script>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key={{ MapAPI}}&callback=initMap">
          </script>
      {% endifnotequal %}

      內容：<br>{{diary.content}}<br><br>

      {% ifnotequal diary.media_set.all|length 0 %}
        有{{diary.media_set.all|length }}個媒體<br>

        {% for i in diary.media_set.all %}
            <li><b>{{i.title}}</b> [ {{i.description}} ]<br></li>
            {% if i.type == "img" %}
                <img src="{{mediaURL}}{{i.img}}" class="img-thumbnail" alt="Cinque Terre" width="300" height=auto>
            {% endif %}
            {% if i.type == "video" %}
                <video height="500" controls>
                  <source src="{{mediaURL}}{{i.img}}" type="video/mp4">
                  <source src="{{mediaURL}}{{i.img}}" type="video/ogg">
                  Your browser does not support HTML5 video.
                </video>
            {% endif %}
            <br>
        {% endfor %}
      {% endifnotequal %}

      <br>
      <form method="post" >
          {% csrf_token %}
          <input class="btn btn-default" type="submit" style="margin-left: 30px;" name="delete" value="刪除"> <br>
          <a class="btn btn-default" style="margin-left:30px" href="{% url 'edit' pk=diary.pk %}">
                        編輯 <i class="fa fa-arrow-right"></i>
          </a>
      </form>
    <form action="/diaries/display" >
          <button class="btn btn-default" type="submit" style="margin-left: 30px;" >回日記</button>
    </form>
</body>
</html>
