{% extends 'diary/diary-form.html' %}
{% load static %}

{% block title %}
	Edit Diary
{% endblock %}

{% block googlemap%}
	{% include 'include/googlemap.html' with latitude=editMap.latitude longitude=editMap.longitude location=editMap.location default_zoon=9 %}
{% endblock %}

{% block inittag %}
<script type="text/javascript">
//init tag
function init() {
  var obj = document.getElementById("tag");
  {% for tag in editTag %}
    addTag(obj,'{{tag.tagName}}')
  {% endfor %}
};
window.addEventListener('load', init, false);
</script>
{% endblock %}

{% block nav %}
	{% include 'include/nav.html' with name='Edit Diary' %}
{% endblock %}