{% extends 'diary/diary-form.html' %}

{% block title %}
	Edit Diary
{% endblock %}

{% block init_tag %}
<script type="text/javascript">
//init ============================================
function init() {
  var obj = document.getElementById("Tag");
  {% for tag in editTag %}
    var newElement = document.createElement("div");
    newElement.name = '{{tag.tagName}}';
    newElement.innerHTML = "#" + '{{tag.tagName}}';
    newElement.style = "margin-right:10px;font-size:15px;display:inline-block;";
    newElement.setAttribute('onmouseover', ' this.style = "margin-right:10px;font-size:15px;display:inline-block;text-decoration:line-through;"');
    newElement.setAttribute('onmouseout', ' this.style = "margin-right:10px;font-size:15px;display:inline-block;"');
    newElement.setAttribute('ondblclick', 'this.parentNode.removeChild(this);');

    //最後再使用appendChild加到要加的元素裡
    obj.appendChild(newElement);
    document.getElementById("tagValue").value = "";
  {% endfor %}
};

addEventListener('load', init, false);
</script>
{% endblock %}


{% block nav %}
	{% include 'users/nav.html' with name='Edit Diary' %}
{% endblock %}