{% load static %}
<!DOCTYPE html>
</html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>New Diary</title>
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'diary/newdiary.css' %}">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key={{MapAPI}}&libraries=places&language=zh-TW&callback=initAutocomplete"
		   async defer>
		</script>
  	</head>
	<body class="d-flex flex-column">
		{% include 'users/nav.html' with name="New Diary" %}
		<main class="d-flex">
	    	<form id="DiaryForm" method="post" class="d-flex flex-column">{% csrf_token %}
		        <div class="d-flex">
		        	<img class="m-1 icon" src="{%static '/diary/title.png' %}">
		        	{{ diary_form.title }}
		        </div>
		        <div class="d-flex">
		        	<img class="m-1 icon" src="{%static '/diary/date.png' %}">
		        	{{ diary_form.date }}
		        </div>
		        <div class="d-flex">
		        	<img class="m-1 icon" src="{%static '/diary/content.png' %}">
		        	{{ diary_form.content }}
		        </div>
		        <div class="m-1">
		        	<img class="m-1 icon" src="{%static '/diary/tag.png' %}">
			        <input class="btn btn-default" type="text" id="tagValue" placeholder="請輸入標籤">
			        <input class="btn btn-default" type="button" value="新增" onclick="addTag(Tag)"><br/>
			    </div>
		        <div id ="Tag" class="pl-3" ></div> <br>

          <script>
          //Google Map  ======================================
            function initAutocomplete() {
            var latitude = 23.69781 ;
            var longitude = 120.960515;
            var location ='台灣';
            var default_zoon =7;
            var map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: latitude, lng: longitude}, //taiwan
              zoom: default_zoon,
              mapTypeId: 'roadmap'
            });
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            map.addListener('bounds_changed', function() {
              searchBox.setBounds(map.getBounds());
            });
            var markers = [];
            searchBox.addListener('places_changed', function() {
              var places = searchBox.getPlaces(); //得到輸入位置
              if (places.length == 0) {
                return;
              }
              markers.forEach(function(marker) {
                marker.setMap(null);
              });
              markers = [];
              var bounds = new google.maps.LatLngBounds();
              places.forEach(function(place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                  }
                location = input.value;
                latitude = place.geometry.location.lat();
                longitude = place.geometry.location.lng();
                document.getElementById("latitude").value = latitude;
                document.getElementById("longitude").value = longitude;
                document.getElementById("location").value = location;
                //圖示
                var icon = {
                  url:'https://cdn3.iconfinder.com/data/icons/flag-banner/256/flag-1-star-48.png',
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(40, 40)
                };
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                    }));
                    if (place.geometry.viewport) {
                      bounds.union(place.geometry.viewport);
                    } else {
                      bounds.extend(place.geometry.location);
                    }
                });
              map.fitBounds(bounds);
            });
          }    
          </script>

				<div class="m-1 d-flex">
					<img class="m-1 icon" src="{%static '/diary/placeholder.png' %}">
					<div style="width: 100%;">
						<input id="pac-input" class="controls" type="text" placeholder="輸入位置">
						<div id="map"></div><br>
					</div>	
				</div>	
		        <input type="hidden" id="tags" name="tags" />
		        <input type="hidden" id="latitude" name="lat" value="23.69781">
		        <input type="hidden" id="longitude" name="lon" value="120.960515">
		        <input type="hidden" id="location" name="loc" value="null">
		        <div class="m-1 d-flex align-self-center">
		        <input type="submit" name="send" value="下一步" class="btn text-white" style="background-color: #0ABAB5;">
		        </div>
			</form>
		</main>
	    <script>
	    //日曆 ============================================
	    $( function() {
			$( "#datepicker" ).datepicker({
				dateFormat: 'yy-mm-dd',
				minDate: new Date(2014, 6 - 1, 5),
				maxDate: "0",
				changeMonth: true,
				changeYear: true,
				showButtonPanel: true,
			});
	    });
	    //加入Tag  ========================================
	    function addTag(obj)
	    {
			var newElement = document.createElement("div");
			var tag = document.getElementById("tagValue").value;
			//設定這個input的屬性
			//newElement.disabled="disabled";
			//newElement.name = "newPictag[]";
			newElement.name = tag;
			newElement.innerHTML = "#" + tag;
			newElement.classList.add("mr-2");
			newElement.classList.add("h4");
			newElement.style = "display:inline;";
			newElement.setAttribute('onmouseover', ' this.style = "text-decoration:line-through;display:inline;"');
			newElement.setAttribute('onmouseout', ' this.style = "text-decoration:none;display:inline;"');
			newElement.setAttribute('ondblclick', 'this.parentNode.removeChild(this);');
			//最後再使用appendChild加到要加的元素裡
			obj.appendChild(newElement);
			document.getElementById("tagValue").value = "";
	    }
	    //Submit觸發  ======================================
	    $(document).ready(function() {
	        $('#DiaryForm').submit(function() {
	            var collection = document.getElementById("Tag").childNodes;
	            var tagNum = collection.length;
	            var i;
	            var tags = new Array();
	            for(i=0;i<tagNum;++i)
	            {
	                tags.push(collection[i].name);
	            }
	            document.getElementById("tags").value = tags;
	        });
	    });
	    </script>

        <!--格式錯誤訊息-->
        {% if messages %}
          {% for message in messages %}
            <script type="text/javascript">
              alert("{{ message}}");
            </script>
          {% endfor %}
        {% endif %}

	</body>
</html>
