{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Display</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.js' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
<body>
    目前的使用者：{{userID}}

  <h3># Diary</h3>

    <form action="/diary/" >
          <button type="submit" style="margin-left: 30px;" >所有日記</button> #列出所有的日記，可以查看單一日記，且可對日記刪除、更新
    </form>
    <br>
    <form action="/diary/new" >
            <button type="submit" style="margin-left: 30px;" >新增日記</button> #新增新的日記、並可上傳媒體
    </form>

  <h3># Map</h3>

    <form action="/diary/map" >
          <button type="submit" style="margin-left: 30px;" >旅遊足跡</button> #列出目前使用者去過的地方
    </form>

  <h3># Media</h3>

    <form action="/diary/media" >
          <button type="submit" style="margin-left: 30px;" >所有媒體</button>  #列出使用者上傳的媒體，為相簿功能
    </form>

  <h3># Tag</h3>

  <form action="/diary/tag" >
          <button type="submit" style="margin-left: 30px;" >所有標籤</button> #根據tag列出日記
  </form>



</body>
</html>
