{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'diary/upload-media.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


<style>
	html , body {
		height:100%;
		width:100%;
	}
	
	#main {
		width:100%;
		margin:0;
		padding:0 0 3em 0;
	}

	#tooltip .tooltiptext {
		visibility: hidden;
		background-color:rgba(10, 186, 181, 0.7);
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		word-break: break-all;
		/* Position the tooltip */
		position: absolute;
		z-index: 1;
		width:200px;
		overflow: hidden;
	}
	#tooltip:hover .tooltiptext {
		visibility: visible;
	}
</style>

<script>
	//將子頁面高度傳到父頁面框架
	var size = function(event) { 
		parent.document.getElementById("frame").height = document.body.scrollHeight;
	};
	window.addEventListener('resize', size, false)
	window.addEventListener('load', size, false)
</script>

<body class="d-flex" style="margin: 0 auto;">
	<div id="main" class="d-flex flex-wrap" onchange="resize()">
		{% for i in imgs %}
		<div class="p-1" class="d-flex flex-column" style="text-align: center;">
	        <div class="p-1 d-flex flex-column">
			    <div class="m-1 d-flex justify-content-center" style="height:3em;width:200px;">
			    	<!-- 圖片標題 -->
					<b class="d-flex align-self-center" style="display: inline;">
					{% ifnotequal i.title null %}
			        	{{i.title}}
			        {% endifnotequal %}
				    </b>
		        </div>
			    <div id="tooltip" class="img-thumbnail align-middle">
			    	<!-- 圖片敘述 -->
			    	<div class="tooltiptext">
					{% ifnotequal i.description null %}
						{{i.description}} 
					{% endifnotequal %}
					</div>
					<!-- 圖片本體 -->
				    {% if i.type == "img" %}
			        <img src="{{mediaURL}}{{i.img}}" onerror="this.style.display='none'" width="200" height="200">
				    {% endif %}
				    {% if i.type == "video" %}
			        <video width="200" height="200" controls>
						<source src="{{mediaURL}}{{i.img}}" type="video/mp4">
						<source src="{{mediaURL}}{{i.img}}" type="video/ogg">
						Your browser does not support HTML5 video.
			        </video>
				    {% endif %}
				</div>
			</div>
		    <form class="p-1 d-flex justify-content-center" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
		        <!-- 刪除按鈕 -->
		        <button class="btn text-white" style="background-color: #0ABAB5;" type="submit" name="dID" value={{i.id}} onclick="alert('成功刪除')">Delete{{i.id}}</button>
		    </form>
		</div>
		{% endfor %}
	</div>
</body>
