<style>
	html , body {
		height:100%;
	}
</style>

<script>
 function resize() { 
 	parent.document.getElementById("frame").height = document.body.scrollHeight;
 	//將子頁面高度傳到父頁面框架
 } 
</script>

<body onload="resize()">
	{% for i in imgs %}
	<div>
	    <h2>{{i.title}}</h2>
	    <p>{{i.description}}</p>
	    {% if i.type == "img" %}
	        <img src="{{mediaURL}}{{i.img}}" class="img-thumbnail" alt="Cinque Terre" width="300" height=auto>
	    {% endif %}
	    {% if i.type == "video" %}
	        <video height="500" controls>
	          <source src="{{mediaURL}}{{i.img}}" type="video/mp4">
	          <source src="{{mediaURL}}{{i.img}}" type="video/ogg">
	          Your browser does not support HTML5 video.
	        </video>
	    {% endif %}
	    <form action="" method="post" enctype="multipart/form-data">
	        {% csrf_token %}
	        <button type="submit" name="dID" value={{i.id}} onclick="alert('成功刪除：{{i.title}}')">Delete{{i.id}}</button>
	    </form>
	    <hr>
	</div>
	{% endfor %}
</body>