<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Uploader</title>

    <link rel="stylesheet" type="text/css" href="style.css">

    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<style>
iframe
{
  margin-left: 30px;
  padding-left:30px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

</style>

<script type="text/javascript">
    //禁止回上一頁
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

</script>

<body>

    <h3># Media Uploader</h3>
    {{diaryID}}
    {{media_num}}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        標題：{{ media_form.title }}<br>
        敘述：{{ media_form.description}}<br>
        上傳影像：{{ media_form.img}}<br>

        <input type="hidden" name="diaryID" value={{diaryID}} />
        <input  class="btn btn-default" style="margin-left:20px" type="submit" value="加入媒體" name="option1" />
    </form>

    </br>

    <iframe src="/diaries/media-upload-show/" height="300" width=60%></iframe>
    </br>
    </br>
    <a class="btn btn-default" style="margin-left:20px" href="{% url 'detail' pk=diaryID %}">
                        確認 <i class="fa fa-arrow-right"></i>
    </a>

</body>
</html>
