<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Upload Media</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
{% for i in imgs %}
    {% ifnotequal i.title null %}
        <h2>{{i.title}}</h2>
    {% endifnotequal %}
    {% ifnotequal i.description null %}
        <p>{{i.description}}</p>
    {% endifnotequal %}
    {% if i.type == "img" %}
        <img src="{{mediaURL}}{{i.img}}" class="img-thumbnail" alt="Cinque Terre" width="300" height=auto>
    {% endif %}
    {% if i.type == "video" %}
        <video height="500" controls>
          <source src="{{mediaURL}}{{i.img}}" type="video/mp4">
          <source src="{{mediaURL}}{{i.img}}" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" name="dID" value={{i.id}} onclick="alert('成功刪除圖片')">Delete{{i.id}}</button>
    </form>
    <hr>
{% endfor %}

</body>
</html>
