{% load static %}
<!DOCTYPE html>
</html>
	<head>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Media Uploader</title>
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'diary/upload-media.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	</head>
	<script type="text/javascript">
	    //禁止回上一頁
	    history.pushState(null, null, document.URL);
	    window.addEventListener('popstate', function () {
	        history.pushState(null, null, document.URL);
	    });
	</script>
	<body class="d-flex flex-column">
		{% include 'users/nav.html' with name="Media Uploader" %}
		<main class="d-flex flex-column">
		    <div class="d-flex p-2">
			    <form action="" method="post" enctype="multipart/form-data" class="d-flex flex-column" style="width:100%;">{% csrf_token %}
			        <div class="d-flex m-1">
			        	<label class="custom-file" style="display: inline-block;width:100%;">
			        		{{ media_form.img}}
			        		<div class="custom-file-control form-control-file" style="overflow:hidden;">
			        			<span>添加檔案..</span>
			        		</div>
						</label>
			        	<input type="hidden" name="diaryID" value={{diaryID}} />
			        </div>
			        <div class="d-flex m-1">
		        		{{ media_form.title }}
		        	</div>
		        	<div class="d-flex m-1">
		        		{{ media_form.description}}
		        	</div>
		        	<div class="d-flex m-1 align-self-center">
		        		<input class="btn btn-default text-white" style="background-color: #0ABAB5;" type="submit" value="加入媒體" name="option1" />
		        	</div>
			    </form>
		    </div>
			<div class="d-flex flex-column p-2">
		    	<iframe id="frame" class="form-control" src="/diary/media-upload-show/" scrolling="no">
		    		{% include 'diary/upload-media-display.html' %}
		    	</iframe>
		    </div>
		    <div class="d-flex align-self-center">
		    	<a class="btn text-white" style="background-color: #0ABAB5;" href="{% url 'detail' pk=diaryID %}">確認 <i class="fa fa-arrow-right"></i></a>
		    </div>
		</main>
		<script>
			//改變上傳檔案欄位
			$('.custom-file-input').on('change',function(){
		    	var fileName = $(this).val().split('/').pop().split('\\').pop();
		    	$(this).next('.custom-file-control').find('span').html(fileName);
			})
		</script>
	</body>
</html>
