body {
	background: url('homepage_background.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size：cover;
	-moz-background-size : cover;
	-webkit-background-size : cover;
	-o-background-size : cover;
	height: 100vh;
}

main {
	background-color:rgba(255,255,255,0.7);
	align-items: center;
	padding: 5vh;
	height: 62vh;
	min-height: 300px;
	max-height: 600px;
}

.title{
	font-size: 2em;
}

.formrow {
	display: flex;
	width:100%;
}

input {
	width:100%;
}