    @import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
    .container { margin-top: 20px; }
    .mb20 { margin-bottom: 20px; } 

    hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
    hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
    hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

    .search-result .thumbnail { border-radius: 0 !important; }
    .search-result:first-child { margin-top: 0 !important; }
    .search-result { margin-top: 20px; }
    .search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 150px; }
    .search-result ul { padding-left: 0 !important; list-style: none;  }
    .search-result ul li { font: 400 normal 1em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
    .search-result ul li i { padding-right: 5px; }
    .search-result .col-md-7 { position: relative; }
    .search-result h3 { font: 500 normal 2em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
    .search-result h3 > a, .search-result i { color: #0ABAB5 !important; }
    .search-result p { font: normal normal 1em "Roboto",Arial,Verdana,sans-serif; } 
    .search-result span.plus { position: absolute; right: 0; top: 126px; }
    .search-result span.plus a { background-color: #0ABAB5; padding: 5px 5px 3px 5px; }
    .search-result span.plus a:hover { background-color: #414141; }
    .search-result span.plus a i { color: #fff !important; }
    .search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

    /* Search Box */
    #imaginary_container{
        margin-top:10%; /* Don't copy this */
    }
    .stylish-input-group .input-group-addon{
        background: white !important; 
    }
    .stylish-input-group .form-control{
        border-right:0; 
        box-shadow:0 0 0; 
        border-color:#ccc;
    }
    .stylish-input-group button{
        border:0;
        background:transparent;
    }

    .ellipsis {
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
  
    .pagination>li.active>a {
        background: #0ABAB5;
        color: #fff;
        border: 1px solid #0ABAB5;
    }  
    .pagination>li>a {
        color: #0ABAB5;
    }
    a {
        color: #0ABAB5;
    }

  .navbar {
      margin-bottom: 0;
      background-color: rgba(10, 186, 181, 0.7);
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #0ABAB5 !important;
      background-color: rgba(255, 255, 255, 0.9) !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  




