{% load static %}
<!DOCTYPE html>
<html>
<title>Search</title>
<meta charset="UTF-8">

<!--bootstrap-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
$(function(){
    var len = 130; // 超過50個字以"..."取代
    $(".JQellipsis").each(function(i){
        if($(this).text().length>len){
            $(this).attr("title",$(this).text());
            var text=$(this).text().substring(0,len-1)+"...";
            $(this).text(text);
        }
    });
});
</script>

<style>


</style>
<body >

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" >HiKi</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">回首頁</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'accounts' %}"><span class="glyphicon glyphicon-log-in"></span>{{ user.name }}</a></li>
        {% else %}
        <li><a href="{% url 'accounts' %}"><span class="glyphicon glyphicon-user"></span>Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form method="get" action="{% url 'search' %}" >
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" name="q" placeholder="請輸入搜尋文字"
                        {% if q %} value="{{ q }}" {% endif %}>
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <!--搜尋結果-->
    <hgroup class="mb20">
        <h1>搜尋結果</h1>
        <h2 class="lead">找到<strong class="text-danger">{{ result|length }}</strong>筆資料
        </h2>
        {% ifnotequal result|length 0 %}
            符合關鍵字：
                {% for q in query_list %}
                    {{ q }}
                {% endfor %}
        {% else %}
            所有公開日記：
        {% endifnotequal %}
    </hgroup>
    <!--日記區塊-->
    <section class="col-xs-12 col-sm-6 col-md-12">
        {% for diary in contacts %}
        <article class="search-result row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                {% ifnotequal diary.image_set.all|length 0 %}
                    <img style="max-width:250px;height:140px" src="{{ diary.image_set.first.img.url }}" alt="{{ diary.title }}" />
                {% else %}
                    <img style="max-width:250px;height:140px"src="http://lorempixel.com/250/140/nature" alt="nature" />
                {% endifnotequal %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <ul class="meta-search">
                    <li><i class="glyphicon glyphicon-calendar"></i> <span>{{ diary.date }}</span></li>
                    <li><i class="glyphicon glyphicon-user"></i> <span>{{ diary.user.name }}</span></li>
                    {% ifnotequal diary.tags.all|length 0 %}
                        <li><i class="glyphicon glyphicon-tags"></i>
                        <span>
                          <!--Use tag as query search-->
                            <form action="{% url 'search' %}" method="get">
                            {% for tag in diary.tags.all %}
                                <button class="ellipsis btn-xs btn" style="max-width:100%"  name="q" value={{ tag.name }}>{{ tag }}</button>
                            {% endfor %}
                            </form>
                        </span></li>
                    {% endifnotequal %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                <h3><a href="{% url 'diary_detail' pk=diary.pk %}" title="">{{ diary.title }}</a></h3>
                <p class="JQellipsis">{{ diary.content }}</p>
                <p><a class="" href="{% url 'diary_detail' pk=diary.pk %}" title="進入日記" style="text-decoration: none">... 繼續閱讀</a></p>
            </div>
            <span class="clearfix borda"></span>
        </article>
        <hr>
        <br><br>
        {{ diary.full_name|upper }}<br>
        {% endfor %}
    </section>
    <section class="col-xs-12 col-sm-offset-5 col-sm-7 page">
        <!--頁面切換-->
    <nav aria-label="Page navigation" >
        <ul class="pagination pagination-sm ">
            <li class="page-item">
                {% if contacts.has_previous %}
                    <a class="page-link" href="?page={{ contacts.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                    </a>
                {% endif %}
            </li>

            {% for i in contacts.paginator.page_range %}
                {% if forloop.counter <= contacts.number|add:2 and forloop.counter >= contacts.number|add:-2 %}
                    {% if forloop.counter == contacts.number %}
                        <li class="page-item active" ><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <li class="page-item">
                {% if contacts.has_next %}
                    <a class="page-link" href="?page={{ contacts.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    </section>
</div>
</body>
</html>
