{% load static %}
<!DOCTYPE html>
    <head>
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hiki Diary</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        {% block link %}
        {% endblock %}
    </head>
    <body class="container-fluid d-flex justify-content-center">
		<main class="d-flex flex-column align-self-center justify-content-center">
			<div class="d-flex flex-row p-2">
				<div class="title">HIKI Diary</div>
			</div>
			{% block content %}
			{% endblock %}
		</main>
    </body>
</html>
