{% load i18n %}
{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans "Change Password" %}</title>
    {% include 'include/bootstrap.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <style>
    form > span > ul {
    	list-style-type:none;
    	padding:0;
    	color:#cc2222;
    }
    </style>
</head>
{% include 'include/message.html' %}

<body id="background" class="d-flex justify-content-center">
    <div id="wrap" class="flex-column">
        <header class="h2 mb-3">Hiki Diary</header>{% csrf_token %}
        <form method="post" class="d-flex flex-column w-100 p-2">{% csrf_token %}
            {{form}}
            <div class="d-flex flex-column w-100 p-1 mt-2">
                <input type="hidden" name="next" value="{{ next }}" />
                <input class="btn custom-button" type="submit" name="submit" value="{% trans 'Save changes' %}">
            </div>
        </form>
    </div>
</body>

</html>
