{% extends 'users/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'users/signup.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex flex-column p-2">
	<form method="POST" class="d-flex flex-column align-self-center">{% csrf_token %}
		<div class="formrow flex-column flex-sm-row p-1">
			<div class="mr-sm-auto" style="padding-right: 1vh">{{ form.email.label_tag }}</div>
			<div class="ml-sm-auto">{{ form.email }}</div>
		</div>
		<div class="formrow flex-column flex-sm-row p-1">
			<div class="mr-sm-auto" style="padding-right: 1vh">{{ form.password1.label_tag }}</div>
			<div class="ml-sm-auto">{{ form.password1 }}</div>
		</div>
		<div class="formrow flex-column flex-sm-row p-1">
			<div class="mr-sm-auto" style="padding-right: 1vh">{{ form.password2.label_tag }}</div>
			<div class="ml-sm-auto">{{ form.password2 }}</div>
		</div>
		<div class="formrow flex-column flex-sm-row p-1">
    		<input class="btn btn-primary" style="width: 100%" type="submit" name="submit" value="註冊">
    	</div>
	</form>
	<div class="d-flex flex-row justify-content-center p-2">
		<div class="h6">已有帳號？&nbsp;<a href="/accounts/login">按此登入。</a></div>
	</div>
</div>
{% endblock %}
