<form method="POST" action="{% url 'signup' %}" class="d-flex flex-column align-self-center">{% csrf_token %}
	<div class="formrow flex-column flex-sm-row p-1">
		<div class="mr-sm-auto" style="padding-right: 1vh">{{ signup_form.email.label_tag }}</div>
		<div class="ml-sm-auto">{{ signup_form.email }}</div>
	</div>
	<div class="formrow flex-column flex-sm-row p-1">
		<div class="mr-sm-auto" style="padding-right: 1vh">{{ signup_form.password1.label_tag }}</div>
		<div class="ml-sm-auto">{{ signup_form.password1 }}</div>
	</div>
	<div class="formrow flex-column flex-sm-row p-1">
		<div class="mr-sm-auto" style="padding-right: 1vh">{{ signup_form.password2.label_tag }}</div>
		<div class="ml-sm-auto">{{ signup_form.password2 }}</div>
	</div>
	<div class="formrow flex-column flex-sm-row p-1">
		<input class="btn btn-primary" style="width: 100%" type="submit" name="submit" value="註冊">
	</div>
</form>
<div class="d-flex flex-row justify-content-center p-2">
	<div class="h6">已有帳號？&nbsp;<a id="loginjump" href="#">按此登入。</a></div>
</div>

<script>
$(document).ready(function(){
	$('#loginjump').click(function() {
	    $('#logintab').trigger('click')
	});
});
</script>
