{% load i18n %}
{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans "User Profile" %}</title>
    {% include 'include/bootstrap.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

{% include 'include/message.html' %}
<body class="d-flex justify-content-center align-items-center custom-button" style="height:100vh;">
	<h1>施工中</h1>
</body>

</html>