{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tally Detail</title>
    {% include 'include/bootstrap.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <style>
    html, body {
		width:100%;
		margin: 0;
		font-size: 1.15rem;
    }
    main {
    	width:90%;
    	margin: 0 auto;
    }
    </style>
</head>

{% include 'include/nav.html' with name=user.name title='tally_'%}
<body>
    <main class="d-flex flex-column">
    	<!-- 日期 -->
    	<div clss="d-flex align-items-center">
    		<img class="detail-icon-img" src="{% static 'icon/detail/date.png' %}">{{ tally.date | date:"Y / m / d" }}
    	</div>
    	<hr>
    	<!-- 類別 -->
    	<div class="d-flex align-items-center">
    		{% if tally.pay_type == '收入'%}
    		<img class="detail-icon-img" src="{% static 'icon/detail/income.png' %}">
	    	{% endif %}
	    	{% if tally.pay_type == '支出'%}
	    	<img class="detail-icon-img" src="{% static 'icon/detail/expense.png' %}">
    		{% endif %}
    		{{ tally.pay_type }}&nbsp;&nbsp;{{ tally.subtype }}
	    </div>
	    <hr>
	    <!-- 多少錢 -->
	    <div class="d-flex align-items-center">
	    	<img class="detail-icon-img" src="{% static 'icon/detail/money.png' %}">
	    	${{ tally.cash }}
	    </div>
	    <hr>
	    <!-- 註記 -->
	    <div class="d-flex align-items-center">
	    	<img class="detail-icon-img" src="{% static 'icon/detail/note.png' %}">
	    	{{ tally.notes }}
	    </div>
	    </hr>
    </main>
    <div class="d-flex justify-content-center m-3">
    	<a class="btn custom-button" href="{% url 'tally_edit' pk=tally.pk %}?from={{ request.path|urlencode }}">編輯</a>
      <a class="btn custom-button ml-2 mr-2" href="{% url 'tally_delete' pk=tally.pk %}?from={% url 'tally' %}">刪除</a>
	    <a class="btn custom-button" href="{% url 'tally' %}">回日記</a>
	</div>
</body>
