{% load static i18n %}
{% load sort %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans "Tally Detail" %}</title>
    {% include 'include/bootstrap.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <style>
    html, body {
		width:100%;
		margin: 0;
    }
    main {
    	width:90%;
    	margin: 0 auto;
		font-size: 1.15rem;
    }
    </style>
</head>

{% include 'include/nav.html' with name=user.name title='tally_'%}
<body>
    <main class="d-flex flex-column">
    	<!-- 日期 -->
    	<div clss="d-flex align-items-center">
    		<img class="detail-icon-img" src="{% static 'icon/detail/date.png' %}">{{ tally.date | date:"Y / m / d" }}
    	</div>
    	<hr>
    	<!-- 類別 -->
    	<div class="d-flex align-items-center">
    		{% with tally.pay_type|get_type:choices|add:'.png' as img_type %}
    		<img class="detail-icon-img" src="{% static 'icon/detail/'|add:img_type %}">{{ tally.pay_type }}&nbsp;&nbsp;{{ tally.subtype }}
    		{% endwith %}
	    </div>
	    <hr>
	    <!-- 多少錢 -->
	    <div class="d-flex align-items-center">
	    	<img class="detail-icon-img" src="{% static 'icon/detail/money.png' %}">
	    	${{ tally.price }}
	    </div>
	    <hr>
	    <!-- 註記 -->
	    <div class="d-flex align-items-center">
	    	<img class="detail-icon-img" src="{% static 'icon/detail/note.png' %}">
	    	{{ tally.notes }}
	    </div>
	    </hr>
    </main>
    <div class="d-flex justify-content-center m-3">
    	<a class="btn custom-button" href="{% url 'tally_edit' pk=tally.pk %}">{% trans "編輯" %}</a>
		<form method="post" >{% csrf_token %}
	    	<input class="btn custom-button ml-2 mr-2" type="submit" name="delete" value="{% trans '刪除' %}">
	    </form>
	    <a class="btn custom-button" href="{% url 'tally' %}">{% trans "回帳本" %}</a>
	</div>
</body>

</html>