<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
    <script>
	  $(function() {
	    $( ".datepicker" ).datepicker({
	      changeMonth: true,
	      changeYear: true,
	      yearRange: "1900:2012",
	      // You can put more options here.

	    });
	  });
	</script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

				//收入
				iarr =[['類別', '元']];
				{% for pl in price_income_List %}
					iarr.push(["{{ pl.0 }}",{{ pl.1 }}]);
				{% endfor %}
				var idata = google.visualization.arrayToDataTable(iarr);
				var ioptions = {
          title: '總收入'
        };
				var ichart = new google.visualization.PieChart(document.getElementById('total_income'));
				ichart.draw(idata, ioptions);

				//支出
				xarr = [['類別', '元']];
				{% for pl in price_expend_List %}
					xarr.push(["{{ pl.0 }}",{{ pl.1 }}]);
				{% endfor %}
				var xdata = google.visualization.arrayToDataTable(xarr);
				var xoptions = {
          title: '總支出'
        };
				var xchart = new google.visualization.PieChart(document.getElementById('total_expend'));
				xchart.draw(xdata,xoptions);
      }
    </script>

</head>

<body>
	<h3># All Account</h3>
	<form id="DateForm" method="post">
		{% csrf_token %}
		從 {{ date_form.dateA }} 
		至 {{ date_form.dateB }} <br>
	<input type="submit" name="send"  style="margin-left: 30px;" value="統計" />
	<br>
	總收入 : {{ total_income }} <br>
	{% for pl in price_income_List %}
		{{ pl.0 }} {{ pl.1 }}
		<br>
	{% endfor %}
	<div id="total_income" style="width: 900px; height: 500px;"></div>
	<br>
	總支出 : {{ total_expend }} <br>
	{% for pl in price_expend_List %}
		{{ pl.0 }} {{ pl.1 }}
		<br>
	{% endfor %}
	<div id="total_expend" style="width: 900px; height: 500px;"></div>
</body>